{% extends "base.html" %}

{% block title %} Lista de Alumnos {% endblock %}

{% block content %}

<div class="container mt-3">
  <a href="{% url 'crear' %}" class="btn btn-success">Agregar Alumnos</a>
  
  <h2>Lista de Alumnos</h2>
              
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>FOTO</th>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>EDAD</th>        
        <th>TELEFONO</th>
        <th>MAIL</th>
        <th>CARRERA</th>
         <th>ACCIONES</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>foto</td>
        <td>Claudio</td>
        <td>Peña Barragán</td>
        <td>48</td>
        <td>7661022171</td>
        <td>haimadre@gmail.com</td>
        <td>Programación</td>
        <td><a href="{% url 'editar' %}" class="btn btn-primary">Editar</a> | <button type="button" class="btn btn-danger">Borrar</button> </td>

      </tr>
      
    </tbody>
  </table>
</div>


{% endblock %}

